.layout-notification
  チャットスペースが作成されました
.wrapper

.side.clearfix
  .side-bar
    .side-bar__header
      .side-bar__header__header-name
        shiegki nomachi
        .side-bar__header__lists__icon
          %i.fas.fa-edit
          %i.fas.fa-cog

    .groups
      .groups__group-name
        test
      .groups__group-message
        test message

  .main
    .main__left-header.clearfix
      .main__left-header__header-title
        test group name
      .main__left-header__edit-button
        Edit
      .main__left-header__members
        "Member：
      .main__left-header__member
        shigeki nomachi

    .message.clearfix
      .message__message-content

        .message__message-content__box
          .message__message-content__box__user-name
            shigeki nomachi
          .message__message-content__box__time
            2018/11/14 14:46:18
          .message__message-content__box__text
            test message

    .message__send
      .message__send__typefield
        type a message
        .message__send__typefield__icon
          %i.fa.fa-picture-o.icon
      .message__send__button
        Send
