/*
 *= require font-awesome
 */
@import "./reset";
@import "./clearfix";
@import "./colors";
@import "./flash";
@import "./user";
@import "./group";
@import "./chat";
@import "./side_bar";
$main_width:calc(100vw - 300px);
$side_font_color:#FFFFFF;
$back_gray: #AAAAAA;
$main_font_color:#434A54;

html{
  height:100%;
  width:100%;
}

.wrapper{
  width: 100%;
  height:100%;
  overflow: hidden;
}

.lower-message__image{
  width:100px;
  height:100px;
}
